.cards {
  display: flex;
  justify-content: flex-start;
  flex-flow:row wrap;
  gap:0 32px;
  margin: 210px auto 128px 32px ;
}

.empty-card{
  display: flex;
  margin-top: 186px;
  justify-content: center;
}