@import "./src/assets/styles/variables";
.header {
  display: flex;
  justify-content: space-between;
}

.header__text {
  color: $--c-text;
  padding: 32px 32px 0;
}

.header__title {
  font-size: 24px;
  font-weight: 700;
}

.header__date {
  font-size: 18px;
  font-weight: 300;
}

.header__logo {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 172px;
  max-height: 145px;
}