@import "./src/assets/styles/variables";

.header {
  display: flex;
  flex-direction: column;

  &__top {
    flex-direction: row;
    display: flex;
  }

  &__text {
    padding: 32px 32px 0;
  }

  &__title {
    color: $--c-text;
    font-size: 24px;
    font-weight: 700;
  }

  &__date {
    font-size: 18px;
    font-weight: 300;
    color: $--c-text-secondary;
  }

  &__logo {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 172px;
    max-height: 145px;
  }

  &__filter {
    display: flex;
    margin: 32px 0 0 32px;
    overflow: auto;
    height: 42px;
  }

  &__filter::-webkit-scrollbar {
    display: none;
  }

  &__filter-button {
    background-color: rgba(0, 0, 0, 0);
    color: $--c-text-secondary;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 18px;
  }

  &__filter-button:active {
    border: 1px solid $--c-text-secondary;
    border-radius: 32px;
  }
}