@import "./src/assets/styles/variables";

.button__back {
  position: fixed;
  left: 30px;
  top: 32px;
  background-color: $--c-button;
  border-radius: 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.button__back__image {
  width: 14px;
  height: 24px;
}

.drink {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image-wrapper {
    max-width: 1024px;
  }

  &__image {
    height: 351px;
    object-fit: cover;
    width: 100%;
  }

  &__description {
    margin: 32px 32px 100px 32px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    max-width: 1024px;


    &__main {
      margin-bottom: 32px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.07em;
  }

  &__subtitle {
    color: $--c-text-secondary;
  }

  &__ingredients {
    margin-bottom: 32px;

    &__title {
      font-weight: 700;
    }

    &__list {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }

    &-item {
      white-space: nowrap;
      color: $--c-text-secondary;
    }

    &-dots {
      overflow: hidden;
      border-bottom: 2px dotted $--c-text-secondary;
      width: 100%;
      margin: 0 5px;
    }

    &-amount, &-unit {
      color: $--c-text-secondary
    }
  }

  &__recipe {

    &__title {
      font-weight: 700;
    }

    &__content {
      color: $--c-text-secondary;
    }
  }
}

@media (max-width: 1056px) {
  .drink__description {
    max-width: calc(100vw - 64px);
  }
}